/* commun_css_part_start======================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img {
    padding: 0;
    margin: 0;
}

img {
    padding: 0;
    margin: 0;
}

.costum-button {
    border: 1px solid transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 130% */
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

.costum-button:hover {
    background: transparent;
    color: #6A4DF4;
    border-color: #6A4DF4;
}

/* .navbar .navbar-brand {
    padding: 0;
    margin: 0;
} */

/* .navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
} */

/* a i {
    width: 80px;
} */



/* commun_css_part_end======================================================= */
/* navbar_part_start======================================================= */

.navbar {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 50px;

}

.navbar .collapse .navbar-nav {
    column-gap: 67px;
}

.navbar .collapse .navbar-nav .active {
    color: #4756df;
    color: #4756DF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 144.444% */
}

.navbar .collapse .navbar-nav .nav-item {
    position: relative;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #4756df;
}

.navbar .container .collapse ul li a {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


/* navbar_part_end======================================================= */
/* banner_part_start=============================================================================================== */
.banner_silider {
    background: url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 0 176px;
    height: 896px;
}
.banner_part{
    position: relative;
}
.banner_part .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.banner_part .silider-1 {
    background: url(../imgs/02.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 0 176px;
}
.banner_part .silider-2 {
    background: url(../imgs/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 0 176px;
}
.banner_part .silider-3 {
    background: url(../imgs/04.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 0 176px;
}




.banner_silider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: -1;

}

.banner_part .overlay {
    text-align: center;
    color: #FFF;
}

.banner_part .overlay h1 {
    padding: 224px 0 51px;
    max-width: 950px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 90px */
}

.banner_part .overlay p {
    width: 621px;
    margin: 0 auto;
    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-bottom: 40px;
}

.banner_part ul {
    position: absolute;
    left: 50%;
    bottom: 53px;
    transform: translateX(-50%);
    display: flex;
    column-gap: 2px;
    z-index: 99;
}

.banner_part ul li button {
    font-size: 0;
    border-radius: 50%;
    border: none;
    background: #4756DF;
    width: 24px;
    height: 24px;
    border: 4px solid transparent;
}

.banner_part ul .slick-active button {
    border-color: #FFF;

}

/* banner_part_end=============================================================================================== */
/* Our Success_part_start=============================================================================================== */
#our_success {
    padding: 171px 0;
}

#our_success .container {
    background: #E0FFF9;
    padding: 85px 37px 86px 50px;
    border-radius: 20px;
}

#our_success .container .row {}

#our_success .container .row .left {}

#our_success .container .row .left h4 {
    color: var(--Primary-Color, #6A4DF4);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 30px */
}

#our_success .container .row .left h2 {
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    width: 387px;
    margin-top: 15px;
}

#our_success .container .row .right {
    display: flex;
    justify-content: end;
    column-gap: 110px;
    margin-top: 13px;
}

#our_success .container .row .right .sustomer_satisfied {}

#our_success .container .row .right .sustomer_satisfied h3 {
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
}

#our_success .container .row .right .sustomer_satisfied h3 span {}

#our_success .container .row .right .sustomer_satisfied p {
    color: var(--Dark-03, #737373);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 24px */
}

/* Our Success_part_end=============================================================================================== */